@model SistemaDeVendas.Models.Produto
@{
	Layout = "_Layout";
}

<h3 class="mb-4">Deletar Produto</h3>

<div class="container mt-4">
	<form asp-action="DeletarProduto" asp-controller="Produto" method="post" class="needs-validation">

		<input type="hidden" asp-for="Id" />
		<input type="hidden" asp-for="Nome" />
		<input type="hidden" asp-for="Descricao" />
		<input type="hidden" asp-for="Preco_Unitario" />
		<input type="hidden" asp-for="Quantidade_Estoque" />
		<input type="hidden" asp-for="Link_Foto" />

		<div class="row mb-2">
			<div class="col-2 font-weight-bold">Nome:</div>
			<div class="col">@Model.Nome</div>
		</div>

		<div class="row mb-2">
			<div class="col-2 font-weight-bold">Descrição:</div>
			<div class="col">@Model.Descricao</div>
		</div>

		<div class="row mb-2">
			<div class="col-2 font-weight-bold">Preço:</div>
			<div class="col">R$ @Model.Preco_Unitario</div>
		</div>

		<div class="row mb-2">
			<div class="col-2 font-weight-bold">Estoque:</div>
			<div class="col">@Model.Quantidade_Estoque</div>
		</div>

		<div class="row mb-5">
			<div class="col-2 font-weight-bold">Foto:</div>
			<div class="col">@Model.Link_Foto</div>
		</div>

		<a asp-action="Index" asp-controller="Produto" class="btn btn-secondary">Cancelar</a>
		<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletarProduto">
			Deletar
		</button>

		<!-- Modal -->
		<div class="modal fade" id="deletarProduto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			 aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Tem certeza de que deseja excluir?</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						Ao clicar em <strong>Deletar</strong> essa ação não poderá ser desfeita.
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-danger">Deletar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
