@model SistemaDeVendas.Models.Vendedor

<h3 class="mb-4">Cadastro de Vendedores</h3>

<br />

<div class="container mt-4">

	@using (Html.BeginForm("RegistrarNovoVendedor", "Vendedor", FormMethod.Post, new { @class = "needs-validation" }))
	{
		<div class="form-group mb-3">
			Nome:
			@Html.TextBoxFor(m => m.Nome, new { @class = "form-control", placeholder = "Digite o nome" })
			@Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
		</div>

		<div class="form-group mb-3">
			Sobrenome:
			@Html.TextBoxFor(m => m.Sobrenome, new { @class = "form-control", placeholder = "Digite o sobrenome" })
			@Html.ValidationMessageFor(m => m.Sobrenome, "", new { @class = "text-danger" })
		</div>

		<div class="form-group mb-3">
			E-mail:
			@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Digite o e-mail" })
			@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
		</div>

		<div class="form-group mb-3">
			Senha:
			@Html.TextBoxFor(m => m.Senha, new { @class = "form-control", placeholder = "Digite a senha" })
			@Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
		</div>

		<a href="@Url.Action("Index", "Vendedor")" class="btn btn-secondary">Cancelar</a>
		<button type="submit" class="btn btn-primary">Salvar</button>
	}
</div>
